/* Apply Sora font globally to all elements */
body {
  font-family: "Sora", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  overflow-x: hidden;
}

/* Optionally apply Geologica to specific elements */
.geologica-text {
  font-family: "Geologica", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-variation-settings: "slnt" 0, "CRSV" 0, "SHRP" 0;
}

html {
  scroll-behavior: smooth;
}

/* HeroCards background shadow */
.shadow {
  position: absolute;
  background: hsl(var(--primary) / 0%);
  border-radius: 24px;
  rotate: 35deg;
  z-index: -1;
  width: 260px;
  top: 200px;
  height: 400px;
  filter: blur(150px);
  will-change: transform;
  animation: shadow-slide infinite 4s linear alternate;
}

@keyframes shadow-slide {
  from {
    background: hsl(var(--primary) / 20%);
    right: 460px;
  }
  to {
    background: hsl(var(--primary) / 80%);
    right: 160px;
  }
}

@media (max-width: 1024px) {
  .shadow {
    top: 70px;
  }

  @keyframes shadow-slide {
    from {
      background: hsl(var(--primary) / 20%);
      right: 460px;
    }
    to {
      background: hsl(var(--primary) / 50%);
      right: 160px;
    }
  }
}

@media (max-width: 768px) {
  .shadow {
    top: 70px;
    width: 100px;
    height: 350px;
    filter: blur(60px);
  }

  @keyframes shadow-slide {
    from {
      background: hsl(var(--primary) / 20%);
      right: 280px;
    }
    to {
      background: hsl(var(--primary) / 30%);
      right: 100px;
    }
  }
}

/* Change dropdown background to dark */
/* Dark mode styles */
.dark .react-tel-input .flag-dropdown {
  background-color: #1a1a1a !important; /* Dark background */
  border: 1px solid #444 !important; /* Border color */
}

.dark .react-tel-input .country-list {
  background-color: #1a1a1a !important; /* Dark dropdown */
  color: #fff !important; /* White text */
}

.dark .react-tel-input .country-list .country:hover {
  background-color: #333 !important; /* Darker hover */
}

.swiper-button-next,
.swiper-button-prev {
  color: #26bbe0 !important;
  font-size: 20px !important; /* Change size */
}

.swiper-button-next::after,
.swiper-button-prev::after {
  font-size: 20px !important; /* Resize the icon */
}

.swiper-pagination {
  bottom: -6px !important; /* Adjust this value to move further */
}

.swiper-pagination-bullet-active {
  background-color: #26bbe0 !important;
}

.swiper-pagination-bullet {
  background-color: #00596f !important;
}
